<!-- Begin Page Content -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
<div class="container-fluid mt-5">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Product Offer</h1>
    {{!-- <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
        For more information about DataTables, please visit the <a target="_blank"
            href="https://datatables.net">official DataTables documentation</a>.</p> --}}

    <!-- DataTales Example -->
    <div class="card shadow mb-4">

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Category Name</th>
                            <th>Offer name</th>
                            <th>Discount</th>
                            <th>Edit</th>

                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Category Name</th>
                            <th>Offer name</th>
                            <th>Discount</th>
                            <th>Edit</th>


                        </tr>
                    </tfoot>
                    <tbody>
                        {{#each product}}
                        <tr>
                            <td>{{productName}}</td>
                            <td>{{offer_name}}</td>
                            <td>{{discount}}</td>
                            <td><a href="/admin/offer/product/edit/{{_id}}">edit</a></td>

                        </tr>
                        {{/each}}

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->
<script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
    crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
<script>
    $(document).ready(function () {
        $('#dataTable').DataTable();
    });
</script>