<div class="customer-login mt-5">
    <div class="container d-flex justify-content-center">
        <div class="row w-50 ">
            <!--login area start-->
            <div class="col-lg-12 col-md-12">
                <div class="account_form" data-aos="fade-up" data-aos-delay="0">
                    <h3>login</h3>
                    <form action="#" method="POST" id="form">
                        <div class="default-form-box text-center">
                            <p><strong class="text-danger d-none" id="errorMessage"> incorrect password or email id
                                    !!</strong></p>
                        </div>
                        <div class="default-form-box">
                            <label>Username or email <span>*</span></label>
                            <input type="email" name="email" id="email">
                        </div>
                        <div class="default-form-box">
                            <label>Passwords <span>*</span></label>
                            <input type="password" name="password" id="password">
                        </div>
                        <div class="login_submit">
                            <button class="btn btn-md btn-black-default-hover mb-4" type="submit">login</button>
                            <label class="checkbox-default mb-4" for="offer">

                                <a href="/signup"><span>Register</span></a>
                            </label>
                            <label class="checkbox-default mb-4" for="offer">

                                <a href="/login/otp"><span>otp login</span></a>
                            </label>
                            <a href="/forgotPassword">Lost your password?</a>

                        </div>
                    </form>
                </div>
            </div>
            <!--login area start-->

            <!--register area start-->

            <!--register area end-->
        </div>
    </div>