<!-- ...:::: Start Account Dashboard Section:::... -->
<div class="account-dashboard mt-5 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-3">
                <!-- Nav tabs -->
                <div class="dashboard_tab_button" data-aos="fade-up" data-aos-delay="0">
                    <ul role="tablist" class="nav flex-column dashboard-list">
                        <li><a href="/profile"
                                class="nav-link btn btn-block btn-md btn-black-default-hover">Dashboard</a>
                        </li>
                        <li> <a href="/profileOrders"
                                class="nav-link btn btn-block btn-md btn-black-default-hover">Pending Orders</a></li>
                        <li> <a href="/deliveredOrders"
                                class="nav-link btn btn-block btn-md btn-black-default-hover">Delivered Orders</a></li>


                        <li><a href="/address"
                                class="nav-link btn btn-block btn-md btn-black-default-hover ">Addresses</a></li>
                        <li><a href="/accountDetails"
                                class="nav-link btn btn-block btn-md btn-black-default-hover active">Account details</a>
                        </li>
                        <li><a href="/logout" class="nav-link btn btn-block btn-md btn-black-default-hover">logout</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-12 col-md-9 col-lg-9">
                <!-- Tab panes -->
                <div class="tab-content dashboard_content" data-aos="fade-up" data-aos-delay="200">

                    <h3>Account details </h3>
                    <div class="login">
                        <div class="login_form_container">
                            <div class="account_login_form">
                                <form id="userDetails">
                                    {{#with user}}
                                    <div class="default-form-box mb-20">
                                        <label>Name</label>
                                        <input type="text" name="name" value="{{name}}" id="name">
                                    </div>

                                    <div class="default-form-box mb-20">
                                        <label>Email</label>
                                        <input type="text" name="email" value="{{email}}" id="email">
                                    </div>

                                    <div class="default-form-box mb-20">
                                        <label>Mobile Number</label>
                                        <input type="text" name="mob" value="{{mob}}" id="mob">
                                    </div>

                                    {{/with}}


                                    <div class="save_button mt-3">
                                        <button class="btn btn-md btn-black-default-hover" type="submit">Save</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div> <!-- ...:::: End Account Dashboard Section:::... -->
<script src="https://unpkg.com/easyinvoice/dist/easyinvoice.min.js"></script>
<script>
    const update = document.getElementById('userDetails')
    update.addEventListener('submit', async el => {
        el.preventDefault()
        const name = document.getElementById('name').value
        const email = document.getElementById('email').value
        const mob = document.getElementById('mob').value
        try {
            const res = await axios({
                method: 'post',
                url: '/profile',
                data: {
                    name,
                    email,
                    mob
                }
            })
            if (res.data.status == 'success') {
                location.reload(true)
            }
        } catch (err) {
            alert(err.response.data.message)
        }
    })


</script>