<section class="container d-flex justify-content-center">
  <div class="col-lg-6 col-md-6">
    <div class="" data-aos="fade-up" data-aos-delay="200">
      <h3>Register</h3>
      <form action="#" id="form-signup">
        <p><span class="text-danger" id="signup_error"></span></p>
        <div class="default-form-box">
          <label>Name <span>*</span></label>
          <input type="text" name="name" id="name" class="inpt" required="required" />
          <span>
            <p class="text-danger" id="nameerror"></p>
          </span>
        </div>
        <div class="default-form-box">
          <label>Email <span>*</span></label>
          <input type="email" name="email" id="email" class="inpt" required="required" />
        </div>
        <div class="default-form-box">
          <label>Mobile Number <span>*</span></label>
          <input type="number" name="mob" id="mob" class="inpt" required="required" />
          <span>
            <p class="text-danger" id="moberror"></p>
          </span>
        </div>
        <div class="default-form-box">
          <label>Passwords <span>*</span></label>
          <input type="password" name="password" id="password" class="inpt" required="required" />
        </div>
        <div class="default-form-box">
          <label>Confirm Passwords<span>*</span></label>
          <input type="password" name="confirmPassword" id="confirmPassword" class="inpt" required="required" />
          <span>
            <p class="text-danger" id="passworderror"></p>
          </span>
        </div>

        <div class="login_submit">
          <button class="btn btn-md btn-black-default-hover" type="submit">Register</button>
        </div>
        <div class="mt-3">
          <a href="/login"><span>Login</span></a>
        </div>
      </form>
    </div>
  </div>
</section>
<script>

  const name = document.getElementById('name')
  const num = document.getElementById('mob')
  const confirmPassword = document.getElementById('confirmPassword')
  const password = document.getElementById('password')


  num.addEventListener('keyup', () => {
    if (num.value.length < 10) {
      num.style.borderColor = 'red'
      document.getElementById('mob').innerHTML = 'enter correct mobile number'
    } else {
      num.style.borderColor = 'green'
      document.getElementById('mob').innerHTML = ''
    }
  })

  confirmPassword.addEventListener('keyup', () => {
    if (confirmPassword.value == password.value) {
      confirmPassword.style.borderColor = 'green'
      document.getElementById('passworderror').innerHTML = ' '
    } else {
      confirmPassword.style.borderColor = 'red'
      document.getElementById('passworderror').innerHTML = 'password not same'
    }
  })
</script>